

body {
  font-family: times;
  line-height: 1.4em;
  color: #728FCC;
  background-color: #eeeeee;
  /*background-image: url(images/.jpg);
  background-size: auto;*/
  text-align: center;
  width: 100%;
  height: 100%;

}

header {
	border: 1px dotted black;
	margin: 36px;
	/*padding: 10px;*/
}

#nav a {
	display: flex;
	justify-content: space-between;
	float: right;
	position: relative;
	right: 15px;
	margin: 10px;
	padding: 10px;
}

/*.videosize{
	width: 100%;
}*/
/*#nav a 

nav ul li { 
	display: inline-block;
	justify-content: space-around;
	margin: 20px;
	padding: 5px;
}

ul li {
	padding: 0px;
}*/

iframe {
	width: 560px;
	height: 315px;
}


div {
	color: #728FCC;
	text-decoration: underline;
	padding: 20px;
}


#findme{
	text-decoration: underline;
	padding: 0px;
	position: relative;


}

#intro {
	background-color: ;
	

}

.gallery{
	text-align: center;
	border-bottom-right-radius: 45px;
	border-top-left-radius: 45px;
}


section{
	background-color: white;
	margin: 36px;
	padding: 26px;
	clear: right;
}

.black {
	color: black;
	font-family: 'Satisfy', cursive;
	
}

article {
	margin: 36px;
	padding: 26px;
	text-shadow: 1px 1px #757575;
	width: 330;
	height: auto;
	color: black;
	display: inline-block;
	justify-content: space-around;

}

#social{
	position: relative;
	

}

#contact{
	
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-70px,-5px);

}

.insta {
	position: relative;
	bottom: -7.5px;
	right: 10px;
}

/*#socialmedia{
	display: flex;
	justify-content: space-around;

}*/

#chatbox {
	position: fixed;
	bottom: 20px;
	border: 1px solid black;
}

#chatbox:hover {
	background-color: black;
	color: white;
}

@media (max-width: 480px) {
	iframe {
		width: 200px;
		/*height: auto;*/

	}

	body {
		margin-left: 10px;
	}

	article {
		width: 75%;
		margin-left: 4%;
	}
}







